/* Valentin Kiss (1608118) */
@import "header_footer.css";
@import "templatecolours.css";
body {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.titles li {
  display: inline-block;
  padding: 4px 10%;
  color: white;
  background-color: #659dbd;
}
#intro {
  margin: 16px 8px;
  padding-left: 8px;
  font-weight: bold;
}
#desc {
  margin-top: 8px;
  padding: 0px 8px;
  background-color: #daad86;
  border: 1px solid #ff471a;
}
#place {
  margin: 32px 32px;
  padding: 4px;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  background-color: #ff471a;
}
.left-container {
  margin-left: 10%;
  margin-bottom: 32px;
  width: 500px;
  height: auto;
  padding-bottom: 4px;
  background-color: #daad86;
}
.right-container {
  float: right;
  margin-right: 10%;
  margin-bottom: 24px;
  width: 500px;
  padding-bottom: 4px;
  background-color: #daad86;
}
.sport_img {
  width: 500px;
  height: 200px;
  opacity: 0.4;
}

.sport_img:hover {
  opacity: 1;
}
.left-pic {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.left-pic:hover {
  color: white;
}
.right-pic {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.right-pic:hover {
  color: white;
}
.sport_name {
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}