/* Valentin kiss(1608118) */
@import "header_footer.css";
@import "templatecolours.css";
body {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#intro {
  font-size: 24px;
}
.left-container {
  margin-left: 16px;
  width: 400px;
  padding: 8px;
  background-color: #daad86;
}
.left-container label {
  width: 150px;
  text-indent: 8px;
  color: white;
  background-color: #3366ff;
}
.left-container input {
  margin-bottom: 16px;
  width: 300px;
}
#enquiry {
  height: 150px;
  width: 350px;
  margin: auto;
  overflow-y: scroll;
}
#button {
  margin-top: 32px;
  margin-left: 100px;
  width: 150px;
  font-weight: bold;
  background-color: #ff471a;
}
.right-container {
  float: right;
  margin-right: 30%;
  width: 350px;
}
.right-container h2 {
  width: 300px;
  text-indent: 8px;
  color: white;
  background-color: #3366ff;
}
.right-container p {
  padding: 8px;
  background-color: #daad86;
}
.right-container h3 {
  width: 300px;
  text-indent: 8px;
  color: white;
  background-color: #3366ff;
}
