@import "templatecolours.css";
@import "header_footer.css";

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 425px;
 height: 425px;
}

div.desc {
  padding: 15px;
}
