@import "templatecolours.css";
body{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li{
    float: left;
}

nav>ul>li:hover{
    float: left;
    background-color: #458eb8;
}

nav>ul>li a{
    display: block;
    columns: #000000;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

li a:hover{
    color: #363636;
}

/*images*/
#logo{
    width: 300px;
    height: 100px;
}

#banner{
    width: 960px;
    height: 300px;
}

#placeholder{
    width: 150px;
    height: 150px;
    float: left;
    padding-right: 10px;
}

/* Text Styling*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p, h2, h3, h4, h5, a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3, h4, h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}