/* Samuel Egger (2016778)*/

@import "templatecolours.css";
@import "header_footer.css";

* {box-sizing:border-box}

section > ul{
  padding: 40px;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-right: 179px;
}

aside {
  flex: auto;
  width: 1px;
  height: 600;
  float: right;
}

section {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: flex-start;
  flex-wrap: wrap;
  border: solid 1px black;
}

section > h2 {
  margin-left: auto;
  margin-right: auto;
}

section:hover{
  border: solid 5px #BC986A;
}

svg:hover{
  fill: #659dbd;
  animation: rotation 2s infinite linear;
}

.fb-page{
  padding-bottom: 10px;
}


#placeholder {
  max-width: 500px;
  max-height: 400px;
  float: left;
  padding-right: 10px;
}

/* Text Styling*/

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p,
h2,
h3,
h4,
h5,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
