body{
    background-color: #659DBD;
}

header{
    background-color: #FBEEC1;
}

section{
    background-color: #DAAD86;
}

footer{
    background-color: #8D8741;
}

aside{
    background-color: #8D8741;
}
